.cs101 {background-color: rgb(241, 90, 90);}
.ds101 {background-color: rgb(252, 189, 72);}
.pe101 {background-color: rgb(194, 194, 55);}
.hci101 {background-color: rgb(1, 175, 1);}
.nstp102 {background-color: rgb(2, 139, 139);}
.net101 {background-color: rgb(15, 105, 207);}
.os101 {background-color: indigo;}
.sts101 {background-color: violet;}
.cw101 {background-color: pink;}